.title {
        font-size: 48px;
        color: #4CAF50;
        text-align: center;
        margin-top: 50px;
}

.btn{
    display: flex;
    justify-content: center;
}

.bacarrat-button {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(101, 67, 33, 0.7);
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    margin-top: 30px;
    width: 300px;
}

#バカラ

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.vs {
    font-size: 3rem;
    font-weight: bold;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    border: 2px solid black;
    padding: 20px;
    background: white;
    font-size: 2rem;
}